/* Create equal columns that floats next to each other */
.six_columns {
	float: left;
	width: 16.66%;
	padding: 2px 10px;
}

.five_columns {
	float: left;
	width: 20%;
	padding: 2px 10px;
}

.four_columns {
  float: left;
  width: 25%;
	padding: 2px 10px;
}

.three_columns {
  float: left;
  width: 33.33%;
	padding: 2px 10px;
}

.two_columns {
  float: left;
  width: 50%;
	padding: 2px 10px;
}

.one_column {
  float: left;
  width: 100%;
	padding: 2px 10px;
	display: inline; 
}

.row {
	width: 100%;
}

.stockCSS .subLabel {
	width: 100%;
	padding: 10px;
	font-style: italic;
	font-weight: normal;
}

.stockCSS label {
	font-weight: bold;
	padding: 2px;
}

.stockCSS input,
.stockCSS select{
	width: 100%;
	padding: 10px;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}


#txtSearch {
	background-image: '<?php echo WAREHOUSE_DIR."icons/search-solid.svg"; ?>'; 
	background-position: 6px 6px;
	background-repeat: no-repeat;
	width: 100%;
	font-size: 16px;
	padding: 12px 20px 12px 50px;
	border: 1px solid #ddd;
	margin-bottom: 12px;
  }
  
* {
	box-sizing: border-box;
  }
  
  input[type='number'] {
	  -moz-appearance:textfield;
  }

form.formWarehouse label{
	margin-bottom: 10px;
  font-size: 14px;
	font-weight: bold;
  margin-left: 8px;
}

form.formWarehouse div select,
form.formWarehouse div input[type='number'],
form.formWarehouse div input[type='email'],
form.formWarehouse div input[type='password'],
form.formWarehouse div input[type='text']{
  font-size: 14px;
  border-radius: 0px;
	margin-left:8px;
	border-color: black;
	background-color: #FDFDFD;
  border-width: 0 0 1px;
	margin: 4px 0px;
	padding-left: 5px;
	width:100%;
}


form.formWarehouse table input[type='number']
{
  font-size: 14px;
	border-radius: 0px;
	margin-left:8px;
	border-color: black;
	background-color: #FDFDFD;
  border-width: 0 0 1px;
	margin: 0px 0px;
	padding-left: 5px;
	width:100%;
}

button.tablink{
	width: 30%;
	border-width: 0px 0px 5px 0;
	background-color: white;
	color: black;
	border-color: gray;
}

button.tablinkSel{
	width: 30%;
	border-width: 0px 0px 5px 0;
	background-color: white;
	color: black;
	border-color: blue;
}

#txtSearch,
table.warehouse{
	margin:12px 5% 12px 5%;
	width:90%
}

.warehouseItem {
	display: inline-block;
	width: 100%;
}
.warehouseItem input[type='checkbox'],
.warehouseItem input[type='radio'] {
	float: inline-start;
	width: 30px; 
	margin: 8px;
}
.warehouseItem input[type='checkbox'] + label,
.warehouseItem input[type='radio'] + label {
	display: block;
}

.radio-inline input[type='radio']{
  float: left;
	
  margin-left: -20px;
  margin-top: 4px;
	font-size: 14px;
	border-radius: 0px;
	border-color: black;
	background-color: #FDFDFD;
  border-width: 0 0 1px;
	margin: 10px 10px;
	padding-left: 5px;
	width:5%;
	position: absolute;
	display: inline-axis;
}

.radio-inline  label{
	float: left;
	font-size: 14px;
	border-radius: 0px;
	margin-left:8px;
	border-color: black;
	background-color: #FDFDFD;
  border-width: 0 0 1px;
	margin: 10px 10px;
	padding-left: 5px;
	padding-bottom: 10px;
	width:95%;
	cursor: none;
}

.conf_block td,
.conf_block tr{
	padding-top: 0px;
	padding-bottom: 6px;
	margin-bottom: 5px;
	margin-top: 0px;
}

form.formWarehouse div.conf_block{
	margin-left:8px;
	border-bottom:10px;
	display: inline; 
}

form.formWarehouse div textarea{
	padding: 4px 8px;
  font-size: 14px;
	border-radius: 5px;
	margin-left:8px;
	margin-top:0px;
	width: 100%;
}

form.formWarehouse h3{
	font-size:20px;
	font-weight:bold;
	color:rgb(0, 178, 229);
	margin-bottom: 10px;
	margin-top: 0px;
}

/*form.formWarehouse a,*/
form.formWarehouse button {
  border: 1px solid rgb(0, 178, 229);
  background-color: rgb(0, 178, 229);
  color: #ffffff;
  padding: 5px 10px;
	font-size: 15px;
	border-left: 5px;
	border-right: 5px;
	cursor: pointer;
	margin-top: 15px;
	margin-bottom: 7px;
}

form.formWarehouse .link-button,
form.formWarehouse .link-button a,
.conf_block a{
  background: none;
  border: none;
  font-size: 1em;
  color: rgb(0, 178, 229);
  padding: 5px 0px;
}


.conf_block h1{
  font-size:25px;
	font-weight:bold;
	margin-bottom: 10px;
	margin-top: 0px;
}

.conf_block h2{
  font-size:18px;
	font-weight:bold;
	margin-bottom: 10px;
	margin-top: 0px;
}

div span.title {
  color: rgb(0, 178, 229);
	font-size:16px;
  font-weight: bold;
	margin-right: 5px;
	margin-bottom: 5px;
	line-height: 1.4;
}

div span.name {
  color: white;
	font-size:16px;
  font-weight: bold;
	margin-right: 5px;
	margin-bottom: 5px;
	line-height: 1.4;
}

div p.abstract {
	margin-bottom: 5px;
	margin-right: 30px;
	line-height: 1.2;
	text-align: justify;
	text-justify: inter-word;
}

.side-bar p{
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1em;
  color: rgb(0, 178, 229);
  padding: 0px 0px;
}

.radio-button p{
  background: none;
  border: none;
  padding-bottom: 0px;
}


form.formWarehouse button:disabled,
form.formWarehouse button[disabled]{
  border: 1px solid #cccccc;
  background-color: #cccccc;
  color: #666666;
}

.mandatory{
	color: #ff0000;
}
.conf_light_blue_box {
	margin: 0;
	margin-bottom: 0px;
	margin-bottom: 0px;
	padding: 15px;
	border-bottom: 1px solid #ddd;
	margin-bottom: 15px;
	background:	#d6ffff; 
}

.conf_white_box {
	padding: 15px;
	border-bottom: 1px solid #ddd;
	margin-bottom: 15px;
	background:	#fff;
}